OAI_CONFIG_LIST.json
.env

**\.cache/41/cache.db
**\.cache/42/cache.db
**\.gitignore
**\.vscode/settings.json
**\README.md
**\agents/__pycache__/__init__.cpython-311.pyc
**\agents/core/__pycache__/__init__.cpython-311.pyc
**\agents/core/__pycache__/core_agent.cpython-311.pyc
**\functions/__pycache__/internet_agent.cpython-311.pyc
**\functions/__pycache__/planner_agent.cpython-311.pyc
