OAI_CONFIG_LIST.json

.env
**\.cache/41/cache.db
**\.cache/42/cache.db
**\.gitignore
**\.vscode/settings.json
**\README.md
**\agents/__init__.py
**\agents/__pycache__/__init__.cpython-311.pyc
**\agents/core/__init__.py
**\agents/core/__pycache__/__init__.cpython-311.pyc
**\agents/core/__pycache__/core_agent.cpython-311.pyc
**\agents/core/agent_caller.py
**\agents/core/core_agent.py
**\agents/teams/__init__.py
**\agents/teams/marketing_team.py
**\functions/__pycache__/internet_agent.cpython-311.pyc
**\functions/__pycache__/planner_agent.cpython-311.pyc
**\functions/internet_agent.py
**\functions/planner_agent.py
**\main.py
**\requirements.txt
**\tools.json
**\tools/claude.py
**\tools/langchain_tools.py
**\utils/agent_teams.json
**\utils/function_tools.json
